<app-player
    [team]="playerEnum.ALLY"
    [state]="allyState"
></app-player>
<app-player
    [team]="playerEnum.ENEMY"
    [state]="enemyState"
></app-player>

<button (click)="attackForUser1()">attackForUser1</button>
<button (click)="attackForUser2()">attackForUser2</button>
<button (click)="connectUser2()">Create second user</button>
<button (click)="connectUser1()">Create second user</button>
<button (click)="dropConnection()">DROP</button>

<button class="hide-nosm action-button" style="position: absolute; bottom: 0; left: 0">Attack</button>
<button class="hide-nosm action-button" style="position: absolute; bottom: 0; right: 0">Block</button>
