<div style="display: flex; flex-direction: row" *ngIf="gameStarted">
  <app-player
    [team]="playerEnum.ALLY"
    [state]="allyState"
    [name]="allyName"
    [health]="allyHP"
></app-player>
<app-player
    [team]="playerEnum.ENEMY"
    [state]="enemyState"
    [name]="enemyName"
    [health]="enemyHP"
></app-player>


<button class="hide-nosm action-button" style="position: absolute; bottom: 0; left: 0" (click)="attack()">Attack</button>
<button class="hide-nosm action-button" style="position: absolute; bottom: 0; right: 0" (click)="defend()">Block</button>
</div>

<div *ngIf="!gameStarted && won == null">
  Waiting for players
</div>
<div *ngIf="!gameStarted && won === playerEnum.ALLY">
  You've won! <br>
  <button (click)="next()">Start next game</button>
</div>

<div *ngIf="!gameStarted && won === playerEnum.ENEMY">
  You've lost! <br>
  <button (click)="next()">Start next game</button>
</div>
