<div class="player-text player-name"> {{name}} </div>
<div class="player-text player-hp"> HP: {{health}} / 100 </div>
<progress id="health" value="{{health}}" max="100"></progress>
<div *ngIf="team == playerEnum.ALLY">
  <img *ngIf="state === stateEnum.STILL" src="./assets/player/ally_still.png">

  <img *ngIf="state === stateEnum.DAZED" src="./assets/player/ally_dazed.png">

  <img *ngIf="state === stateEnum.ATTACKING" src="./assets/player/ally_attack.png">

  <img *ngIf="state === stateEnum.DEFENDING" src="./assets/player/ally_defending.png">
</div>

<div *ngIf="team == playerEnum.ENEMY">
  <img *ngIf="state === stateEnum.STILL" src="./assets/player/enemy_still.png">

  <img *ngIf="state === stateEnum.DAZED" src="./assets/player/enemy_dazed.png">

  <img *ngIf="state === stateEnum.ATTACKING" src="./assets/player/enemy_attack.png">

  <img *ngIf="state === stateEnum.DEFENDING" src="./assets/player/enemy_defending.png">
</div>

<button (click)="sendText()">sdfdopsfjds</button>
